
@font-face{
    font-family: 'mLight';
    src: url('../font/Montserrat/Montserrat-Light.ttf') format('truetype');
}

@font-face{
    font-family: 'mRegular';
    src: url('../font/Montserrat/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'mSemiBold';
    src: url('../font/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face{
    font-family: 'mBold';
    src: url('../font/Montserrat/Montserrat-Bold.ttf') format('truetype');
}

@font-face{
    font-family: 'mExtraBold';
    src: url('../font/Montserrat/Montserrat-ExtraBold.ttf') format('truetype');
}


@font-face{
    font-family: 'mBlack';
    src: url('../font/Montserrat/Montserrat-Black.ttf') format('truetype');
}