// Sizes
$font-size-xl: 58%;
$font-size-l: 55%;
$font-size-m: 50%;
$font-size-s: 45%;
$font-size-xs: 42%;
$font-size-xxs: 28%;

$navbar-height: 110px;
$navbar-height-xl: 90px;
$navbar-height-l: 80px;
$navbar-height-m: 75px;
$navbar-height-s: 60px;
$navbar-height-xs: 60px;


$spacing: 115px;
$spacing-xl: 95px;
$spacing-l: 80px;
$spacing-m: 55px;
$spacing-xs: 45px;
$spacing-xxs: 25px;

$media-xl: 1600px;
$media-l: 1440px;
$media-m: 1280px;
$media-s: 1024px;
$media-xs: 768px; 
$media-xxs: 540px;

// Colors
$colors: (
    primary: #A141EB,
    secondary: #7928B7,
    accent: #E1A607,
    white: #FFFFFF,
    background: #F1F1F1,
    darken: #CECECE,
    text: #1B1B1B,
    info: #01D3F2,
    info-secondary: #0FB1D1
);
