// Sizes
$font-size-xl: 58%;
$font-size-l: 55%;
$font-size-m: 50%;
$font-size-s: 48%;
$font-size-xs: 45%;

$navbar-height: 110px;
$navbar-height-xl: 90px;
$navbar-height-l: 80px;
$navbar-height-m: 75px;

$spacing: 115px;
$spacing-xl: 95px;
$spacing-l: 80px;
$spacing-m: 70px;
$spacing-s: 65px;
$spacing-xs: 30px;

$media-xl: 1600px;
$media-l: 1440px;
$media-m: 1280px;
$media-s: 768px; 
$media-xs: 540px;

// Colors
$colors: (
    primary: #A141EB,
    secondary: #7928B7,
    accent: #E1A607,
    white: #FFFFFF,
    background: #F1F1F1,
    darken: #CECECE,
    text: #1B1B1B,
    info: #01D3F2,
    info-secondary: #0FB1D1
);
