//

@import './_font-face';
@import './_variables';

* {
    box-sizing: border-box;
}

html {
    font-family: 'mRegular', sans-serif;
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
}

#header {
    background-image: url('../img/header.png');
    background-size: cover;
    background-position: right;
    height: 65vh;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        width: 60%;
        height: 100%;
        background-image: linear-gradient(to right, rgb(255, 255, 255) 65%, rgba(0,0,0,0) 100%);
        z-index: 1;
    }

    .navbar, .header-content {
        z-index: 2;
        position: relative;
    }

    .navbar {
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        height: $navbar-height;
        width: 100%;
        padding-left: $spacing;

        .menu-btn {
            display: none;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            border-bottom-right-radius: 46px;
            background-color: map-get($colors, primary);
            height: 100%;
            width: 1045px;
            z-index: 1;
        }

        .nav-btn {
            $img-height: 34px;
            cursor: pointer;
            position: relative;
            display: flex;
            align-items: center;
            font-family: 'mBold';
            font-size: 1.95rem;
            text-transform: uppercase;
            background-color: map-get($colors, accent);
            border: none;
            border-radius: 400px;
            z-index: 2;
            padding: 18px 35px;
            margin-right: 35px;
            line-height: $img-height;
            color: map-get($colors, white);

            img {
                height: $img-height;
                width: auto;
                margin-right: 20px;
            }

            &.float-btn {
                position: absolute;
                top: 0;
                right: 45px;
                padding-top: 15px;
                border-radius: 0;
                border-bottom-left-radius: 12px;
                border-bottom-right-radius: 12px;
            }

            &:nth-child(2) {
                background-color: map-get($colors, secondary);
            }

            &:nth-child(3) {
                background-image: linear-gradient(to right, map-get($colors, info) 0%, map-get($colors, info-secondary) 100%);
            }
        }
    }

    .header-content {
        height: calc(100% - #{$navbar-height});
        display: flex;
        align-items: center;
        padding: $spacing;

        .header-title {
            font-size: 6.5rem;
            font-family: 'mBlack';
            color: map-get($colors, accent);
            margin: 0;
            margin-bottom: 40px;
            line-height: 5rem;
        }

        .header-text {
            color: map-get($colors, text);
            font-family: 'mRegular';
            font-size: 2.5rem;
            margin: 0;
            line-height: 3.5rem;

            b {
                font-family: 'mBold';
            }

            a {
                color: map-get($colors, primary);
                font-family: 'mSemiBold';
            }
        }
    }
}

#content {
    padding: 60px $spacing;
    padding-right: calc(3.75 * #{$spacing});
    background-color: map-get($colors, background);

    .question {
        margin-bottom: 35px;

        .title {
            display: flex;
            align-items: center;
            cursor: pointer;
            user-select: none;
            padding: 20px 0;

            * {
                pointer-events: none;
            }

            .text {
                color: map-get($colors, primary);
                font-family: 'mBold';
                font-size: 3rem;
            }

            .bar {
                content: '';
                flex-grow: 1;
                height: 1px;
                background-color: map-get($colors, darken);
                margin: 0 15px;
            }

            img {
                width: 35px;
                height: auto;
                transition: transform 0.3s ease-out;
            }
        }

        .answer {
            transition: all 0.3s ease-out;
            opacity: 1;

            p {
                margin: 0;
                padding: 25px 0;
                font-size: 2.5rem;
            }
        }

        &.collapsed {
            .answer {
                overflow: hidden;
                padding: 0;
                max-height: 0;
                opacity: 0;
            }

            img {
                transform: rotateZ(-180deg);
            }
        }
    }
}

footer {
    height: 80px;
    background-color: map-get($colors, primary);
}

// Responsivo
@media screen and (max-width: $media-xl) {
    // Extra large Desktops
    html {
        font-size: $font-size-xl;
    }

    #header {
        background-position: right;
        background-position-x: 65%;
        height: 60vh;

        .navbar {
            padding-left: $spacing-xl;
            height: $navbar-height-xl;

            &::before {
                width: 936px;
            }

            .nav-btn {
                $img-height-xl: 30px;
                padding: 14px 30px;
                margin-right: 30px;
                line-height: $img-height-xl;

                img {
                    height: $img-height-xl;
                }

                &.float-btn {
                    line-height: $img-height-xl;
                    padding-top: 12px;
                    right: 25px;
                    margin: 0;
                }
            }
        }
        
        .header-content {
            height: calc(100% - #{$navbar-height-xl});
            padding: $spacing-xl;

            .header-title {
                margin-bottom: 35px;
            }
        }
    }

    #content {
        padding: 50px $spacing-xl;
        padding-right: calc(3.50 * #{$spacing-xl});

        .question {
            margin-bottom: 30px;

            .title {
                padding: 18px 0;

                img {
                    width: 32px;
                }
            }

            .answer {
                p {
                    padding: 20px 0;
                }
            }
        }
    }

    footer {
        height: 65px;
    }
}

@media screen and (max-width: $media-l) {
    // Large Desktops

    html {
        font-size: $font-size-l;
    }

    #header {
        background-position: 70px 0;
        height: 50vh;

        .navbar {
            padding-left: $spacing-l;
            height: $navbar-height-l;

            .nav-btn {
                $img-height-l: 30px;
                line-height: $img-height-l;

                img {
                    height: $img-height-l;
                }

                &.float-btn {
                    line-height: $img-height-l;
                    right: 0;
                }
            }
        }
        
        .header-content {
            height: calc(100% - #{$navbar-height-l});
            padding: $spacing-l;
        }
    }

    #content {
        padding: 50px $spacing-l;
        padding-right: calc(3.50 * #{$spacing-l});
    }
}

// Responsivo
@media screen and (max-width: $media-m) {
    // Medium Desktops
    html {
        font-size: $font-size-m;
    }

    #header {
        background-position-x: 80px;
        height: 45vh;

        .navbar {
            padding-left: $spacing-m;
            height: $navbar-height-m;

            &::before {
                width: 855px;
            }

            .nav-btn {
                $img-height-m: 30px;
                padding: 10px 25px;
                margin-right: 25px;
                line-height: $img-height-m;

                img {
                    height: $img-height-m;
                }

                &.float-btn {
                    line-height: $img-height-m;
                    right: 0;
                }
            }
        }
        
        .header-content {
            height: calc(100% - #{$navbar-height-m});
            padding: $spacing-m;

            .header-title {
                margin-bottom: 30px;
            }
        }
    }

    #content {
        padding: 45px $spacing-m;
        padding-right: calc(3.50 * #{$spacing-m});

        .question {
            margin-bottom: 28px;

            .title {
                padding: 18px 0;

                img {
                    width: 32px;
                }
            }

            .answer {
                p {
                    padding: 20px 0;
                }
            }
        }
    }

    footer {
        height: 65px;
    }
}

@media screen and (max-width: $media-s) {
    // Tablets
    html {
        font-size: $font-size-s;
    }

    #header {
        height: 50vh;

        .navbar {
            height: $navbar-height-s;

            &::before {
                width: 690px;
            }

            .nav-btn {
                $img-height-s: 22px;
                padding: 10px 20px;
                margin-right: 20px;
                line-height: $img-height-s;

                img {
                    height: $img-height-s;
                    margin-right: 10px;
                }

                &.float-btn {
                    line-height: $img-height-s;
                    right: 0;
                }
            }
        }
    }
}

@media screen and (max-width: $media-xs) {
    // Tablets
    html {
        font-size: $font-size-xs;
    }

    #header {
        .navbar {
            position: absolute;
            align-items: flex-start;
            justify-content: center;
            transition: height 0.3s ease-in-out;
            background-color: map-get($colors, primary);
            flex-flow: column;
            z-index: 10;
            padding-left: $spacing-xs;

            $button-padding: 15px;

            .menu-btn {
                display: unset;
                cursor: pointer;
                position: absolute;
                background: none;
                border: none;
                z-index: 11;
                padding: #{$button-padding};
                transition: all 0.3s ease-in-out;
                
                img {
                    width: 25px;
                    height: auto;
                }
            }

            #menu-open {
                top: calc(50% - #{$button-padding});
                left: calc(#{$spacing-xs} - #{$button-padding});
                transform: translateY(calc(-50% + #{$button-padding})) scale(1);
                opacity: 1;
            }

            #menu-close {
                opacity: 0;
                transform: scale(0);
            }

            &::before {
                content: unset;
            }

            .nav-btn {
                margin: unset;

                &:not(:last-child) {
                    display: none;
                    margin-bottom: 15px;
                }

                &.float-btn {
                    position: unset;
                    top: unset;
                    right: unset;
                    margin: unset;
                    border-radius: 400px;
                }
            }

            &.opened {
                position: fixed;
                height: 100vh;
                align-items: center;

                #menu-open {
                    opacity: 0;
                    transform: scale(0);
                }

                #menu-close {
                    left: calc(#{$spacing-xs} - #{$button-padding});
                    opacity: 1;
                    transform: scale(1);
                }

                .nav-btn {
                    width: 40%;
                    border-radius: 0;
                    background: none;
                    border-bottom: 1px solid map-get($colors, secondary);

                    &:not(:last-child) {
                        display: unset;
                    }

                    img {
                        display: none;
                    }

                    &.float-btn {
                        display: flex;
                        justify-content: center;
                        margin-top: 50px;
                        border-bottom-color: map-get($colors, accent);

                        img {
                            display: unset;
                            filter: brightness(1);
                        }
                    }
                }

            }
        }

        .header-content {
            height: 100%;
            background-color: map-get($colors, white);
            padding: 0 $spacing-xs;
            padding-top: $navbar-height-xs;
        }
    }

    #content {
        padding-right: $spacing-xs;

        
        .question {
            margin-bottom: 25px;

            .title {
                img {
                    width: 25px;
                }
            }
        }
    }
}

@media screen and (max-width: $media-xxs) {
    // Smartphones
    html {
        font-size: $font-size-xxs;
    }

    #header {
        .navbar {
            padding-left: $spacing-xxs;
            $button-padding: 15px;

            #menu-open {
                left: calc(#{$spacing-xxs} - #{$button-padding});
            }

            &.opened {
                #menu-close {
                    left: calc(#{$spacing-xxs} - #{$button-padding});
                }
                .nav-btn {
                    width: 60%;

                    &.float-btn {
                        img {
                            height: 20px;
                        }
                    }
                }
            }
        }

        .header-content {
            padding: $spacing-xxs;
        }
    }

    #content {
        padding: $spacing-xxs;
        
        .question {
            margin-bottom: 25px;

            .title {
                img {
                    width: 20px;
                }
            }
        }
    }
}